
  #text {
    background-color: #0a0a23;
    color: #ffffff;
    padding: 10px;
    cursor: default;
  }
  
  #game {
    max-width: 600px;
    
    background-color: #ffffff;
    color: #ffffff;
    margin: 200px auto 0px;
    
    
    box-shadow: .25rem .25rem 1.25rem .75rem  #848d8d;
  }
  
  #controls,
  #stats {
    border: 1px solid #0a0a23;
    padding: 5px;
    color: #0a0a23;
  }
  
  #monsterStats {
    display: none;
    border: 1px solid #0a0a23;
    padding: 5px;
    color: #ffffff;
    background-color: #c70d0d;
  }
  
  .stat {
    padding-right: 10px;
  }
  
  .gButton {
    cursor: pointer;
    color: #0a0a23;
    background-color: #F2994A;
    background-image: linear-gradient(#F2994A, #bb7232);
    border: 3px solid #fcaf6b;
    transition: .3s;
  }
.gButton:hover:before{
    color: #0a0a23;
    background-color: #F2994A;
    background-image: linear-gradient(#F2994A, #bb7232);
    border: 3px solid #fcaf6b;
}
.gButton:hover{
    color: #0a0a23;
    border: 3px solid #55f6ff;
    background-color: #55f6ff;
    background-image: linear-gradient(#55f6ff, #87CEEB);
}
#controls {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}
.gButton {
  height: 3rem;
  min-width: 5rem;
}
.game-wrapper, #game {
  background-color: #BDC3C7;
}
.game-wrapper {
  height: 100vh;
}
#stats, #controls {
  background-color: #ffffff;
}
