/* Wrapper for full header element */
.header-wrapper {
  display: grid;
  color: rgb(235, 235, 235);
  background-color: rgb(26, 29, 29);
  width: 100%;
  position: fixed;
}
/* col 1 item */
.name {
  grid-column: 1 ;
  margin-left: 70px;
}
/* col 2 item / grid for the nav */
.nav {
  display: grid;
  grid-row: 1;
  grid-column: 4 / 6;
  align-items: center;
  height: 100%;
  max-height: 84.88px;
}
/* .home-L through .contact-L are the css grid properties and sizing properties */
.home-L, .about-L, .portfolio-L {
  display: inline-block;
  height: 100%;
  width: 100%;
  max-height: 84.88px;
  max-width: 250px;
  
}
.home-L {
  grid-column: 1 / 2;
  height: 100%;
  
}
.about-L {
  grid-column: 2 / 3;
  height: 100%;
}
.portfolio-L {
  grid-column: 3 / 4;
  height: 100%;
  border: none;
  position: relative;
}
.home, .about, .portfolio { 
  width: 100%;
  height: 100%;
  color: rgb(235, 235, 235);
  background-color: #1a1d1d;
  border-style: none;
  transform: skewX(-20deg);
  font-size: 25px;
  display: inline-block;
}
.home:hover, .portfolio:hover, .about:hover { 
  transition: .3s;
  background-color: #00adb5;
  color: #1a1d1d;
}
.home:active, .portfolio:active, .about:active { 
  background-color: #F2994A;
  transition: background-color 0s;
}
.menus {
  display: inline-block;
  height: 100%;
}
.dropdownMenu {
  transition: opacity .3s, transform .3s;
  display: block;
  float: right;
  margin-right: 91px;
}
.menus-nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
  max-height: 84.88px;
  margin: 0
}
.app {
  display: grid;
  grid-template-rows: 84.88px;
}
.skew-correct {
  transform: skewX(20deg);
}
.skew-correct-span {
  pointer-events: none;
}
