/* Font for web page*/
body {
  overflow-y: scroll;
}
/* hiding the scrollbar in chrome, safari, and opera */
body::-webkit-scrollbar {
  display: none;
}
/* hiding the scrollbar in IE, edge, and firefox */
body {
  -ms-overflow-style: none; /* IE and edge */
  scrollbar-width: none; /* Firefox */
}
*{
  font-family: 'Fira Code', monospace;
}
/* Wrapper for full header element */
.header-wrapper {
  display: grid;
  color: rgb(235, 235, 235);
  background-color: rgb(26, 29, 29);
  grid-template-rows: 1;
  grid-template-columns: 5 auto;
}
/* col 1 item */
.name {
  grid-column: 1 ;
  margin-left: 70px;
}
/* col 2 item / grid for the nav */
.nav {
  display: grid;
  grid-row: 1;
  grid-column: 4 / 6;
  grid-template-columns: 10 1fr;
  align-items: center;
  height: 100%;
}
/* .title through .contact are the css grid properties and sizing properties */
.title {
  grid-column: 5 / 6;
  height: 100%;
  
}
.about-L {
  grid-column: 6 / 7;
  height: 100%;
}
.portfolio-L {
  grid-column: 7 / 8;
  height: 100%;
}
.contact-L {
  grid-column: 8 / 9;
  height: 100%;
}

.home, .about, .portfolio, .contact {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  color: rgb(235, 235, 235);
  background-color: #1a1d1d;
  border-style: none;
  border-radius: 20px 20px 0 0;
  font-size: 25px;
}
.home:hover, .portfolio:hover, .about:hover, .contact:hover {
  transition: .3s;
  background-color: #00adb5;
  color: #1a1d1d;
}
.home:active, .portfolio:active, .about:active, .contact:active {
  background-color: #F2994A;
  transition: background-color 0s;
}
